Arithmetic Operators:

In [19]:
# Addition
result_addition = 10 + 5
print("Addition:", result_addition)  # Output: 15

# Subtraction
result_subtraction = 10 - 5
print("Subtraction:", result_subtraction)  # Output: 5

# Multiplication
result_multiplication = 10 * 5
print("Multiplication:", result_multiplication)  # Output: 50

# Division
result_division = 10 / 5
print("Division:", result_division)  # Output: 2.0

# Floor Division
result_floor_division = 10 // 3
print("Floor Division:", result_floor_division)  # Output: 3

# Modulus
result_modulus = 10 % 3
print("Modulus:", result_modulus)  # Output: 1

# Exponentiation
result_exponentiation = 2 ** 3
print("Exponentiation:", result_exponentiation)  # Output: 8

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Floor Division: 3
Modulus: 1
Exponentiation: 8

Assignment Operators:

In [20]:
x = 5
x += 3  # Equivalent to: x = x + 3
print("Assignment with Addition:", x)  # Output: 8

y = 10
y -= 3  # Equivalent to: y = y - 3
print("Assignment with Subtraction:", y)  # Output: 7

z = 6
z *= 2  # Equivalent to: z = z * 2
print("Assignment with Multiplication:", z)  # Output: 12

Assignment with Addition: 8
Assignment with Subtraction: 7
Assignment with Multiplication: 12

Comparison Operators:

In [21]:
# Equal to
print(5 == 5)  # Output: True

# Not equal to
print(5 != 10)  # Output: True

# Greater than
print(10 > 5)  # Output: True

# Less than
print(5 < 10)  # Output: True

# Greater than or equal to
print(10 >= 10)  # Output: True

# Less than or equal to
print(5 <= 10)  # Output: True

True
True
True
True
True
True

Logical Operators:

In [22]:
# Logical AND
print(True and True)  # Output: True

# Logical OR
print(True or False)  # Output: True

# Logical NOT
print(not True)  # Output: False

True
True
False

Identity Operators:

In [23]:
x = [1, 2, 3]
y = [1, 2, 3]

# is
print(x is y)  # Output: False

# is not
print(x is not y)  # Output: True

False
True

Membership Operators:

In [24]:
# in
list_example = [1, 2, 3, 4, 5]
print(3 in list_example)  # Output: True

# not in
print(6 not in list_example)  # Output: True

True
True

Bitwise Operators:

In [25]:
# Bitwise AND
print(5 & 3)  # Output: 1

# Bitwise OR
print(5 | 3)  # Output: 7

# Bitwise XOR
print(5 ^ 3)  # Output: 6

# Bitwise NOT
print(~5)  # Output: -6

# Bitwise Left Shift
print(5 << 1)  # Output: 10

# Bitwise Right Shift
print(5 >> 1)  # Output: 2

1
7
6
-6
10
2