**For**

In [31]:
# Iterating over a sequence (e.g., list)
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
# Output:
# apple
# banana
# cherry

# Iterating over a range of numbers
for i in range(5):
    print(i)
# Output:
# 0
# 1
# 2
# 3
# 4

# Iterating over a dictionary
person = {"name": "John", "age": 30}
for key, value in person.items():
    print(key, ":", value)
# Output:
# name : John
# age : 30

apple
banana
cherry
0
1
2
3
4
name : John
age : 30

**while**

In [32]:
# Using a while loop to print numbers from 1 to 5
num = 1
while num <= 5:
    print(num)
    num += 1
# Output:
# 1
# 2
# 3
# 4
# 5

# Using a while loop with break statement
num = 1
while True:
    print(num)
    num += 1
    if num > 5:
        break
# Output:
# 1
# 2
# 3
# 4
# 5

1
2
3
4
5
1
2
3
4
5

**Loop Control Statements**

In [33]:
# Using break statement
for num in range(10):
    if num == 5:
        break
    print(num)
# Output:
# 0
# 1
# 2
# 3
# 4

# Using continue statement
for num in range(5):
    if num == 2:
        continue
    print(num)
# Output:
# 0
# 1
# 3
# 4

# Using pass statement
for num in range(5):
    if num == 2:
        pass
    print(num)
# Output:
# 0
# 1
# 2
# 3
# 4

0
1
2
3
4
0
1
3
4
0
1
2
3
4